.App {
	position: relative;
	animation: myfirst 10s linear 2s infinite alternate;
	color: red;
	padding: 16;
}
.boxpadding {
	padding-top: 2rem;
}

@keyframes myfirst {
	0% {
		left: 0px;
		top: 0px;
	}
	25% {
		left: 50%;
		top: 0px;
	}
	50% {
		left: 100%;
		top: 0px;
	}
	75% {
		left: 50%;
		top: 0px;
	}
	100% {
		left: 0px;
		top: 0px;
	}
}
